model/__pycache__
out
website/
docs-minimind/
dataset/lm_dataset.py
.gitignore
dataset/lora_identity.jsonl
dataset/lora_medical.jsonl
dataset/pretrain_hq.jsonl
dataset/r1_mix_1024.jsonl
dataset/dataset_infos.json
dataset/dpo.jsonl
dataset/rlaif-mini.jsonl
dataset/sft_512.jsonl
dataset/sft_1024.jsonl
dataset/sft_2048.jsonl
dataset/sft_mini_512.jsonl
dataset/images/1.png
dataset/images/dataset.jpg
dataset/images/logo.png
